{% extends 'base.html' %}

{% block title %}
  Список товаров на сайте
{% endblock title %}

{% block content %}
  <div class="container py-5">     
    <h1>Это главная страница</h1>
    <article>
        <div class="row">
            <form action="" method="get">
                {{filter.form}}
                <input type="submit" value="Filter">
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Бортовой номер</th>
                        <th scope="col">Модель</th>
                        <th scope="col">Макс. грузоподъемность</th>
                        <th scope="col">Текущий вес</th>
                        <th scope="col">Перегруз %</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for truck in filter.qs %}
                        <tr>
                            <td>{{ truck.board_number }}</td>
                            <td>{{ truck.vehicle_type }}</td>
                            <td>{{ truck.vehicle_type.load_capacity }}</td>
                            <td>{{ truck.cur_load }}</td>
                            <td>{{ truck.get_overload }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>

    </article>
  </div>  
{% endblock content %}